{
    "trailingComma": "none",
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": true,
    "experimentalTernaries": true,
    "htmlWhitespaceSensitivity": "ignore"
}
